<div class="users">
    <div class="sheet">
        <div class="row titles">
            <div class="name">Name</div>
            <div class="email">Email Address</div>
            <div class="isadmin">Admin?</div>
            <div class="isactive">Active?</div>
        </div>
    </div>
    <div class="row user" ng-repeat="emp in allEmployees">
        <div class="photo"><img ng-src= {{emp.authpic}} alt = "No Photo Found" /></div><!-- Employee's Photo URL -->
        <div class="name">{{emp.empname}}</div>
        <div class="email">{{emp.authemail}}</div><!-- Employee's Email Address, mabye? -->
        <div class="isadmin"><input ng-click = "toggleStatus(emp.empid,'adminStatus')" ng-show = "emp.isadmin==false"  type="checkbox" /></div>
        <div class="isadmin"><input ng-click = "toggleStatus(emp.empid,'adminStatus')" ng-show = "emp.isadmin==true" checked = "checked" type="checkbox" /></div>
        <div class="isactive">
            <!-- This <i> tag should be clickable. It should trigger an API call to toggle the user active or inactive. -->
            <!-- Inactive users will not show up in admin interfaces for employee selection, etc. -->
            <i ng-click = "toggleStatus(emp.empid,'activeStatus')" ng-show = "emp.isactive == true" class="fa fa-toggle-on"></i> <!-- If user is active -->
            <i ng-click = "toggleStatus(emp.empid,'activeStatus')" ng-show = "emp.isactive == false" class="fa fa-toggle-off"></i>  <!-- If user is not active.
            <!-- Admin should be able to click this similar to a checkbox. When clicked, it should trigger turning the specific user on or off. -->
        </div>
    </div>
</div>
