      <div class="report">
            <section>
                <h2 class="entity-title">Reports</h2>
                <!-- The Project's Name -->
                <div>
                    <!-- ng-show if the project is active. -->
                    <form class="report-form">
                        <div class="date">
                            <label>Start Date</label><!-- We need an angular date selector for this field. -->
                            <input ng-model="startDate"type="text" id="datepickerStart" value="mm/dd/yy"/>
                        </div>
                        <div class="date">
                            <label>End Date</label><!-- We need an angular date selector for this field. -->
                            <input ng-model="endDate"type="text" id="datepickerEnd"/>
                        </div>

                        <div class="description" ng-hide="clientSelect">
                            <label>Client</label>
                            <select ng-change="client(selectedClient)" ng-model="selectedClient" ng-options="client as client.clientname for client in allClients"></select>
                        </div>

                        <div class="description">
                            <label>Project</label>
                            <!-- if user logged in -->
                            <select ng-change="userProject(selUserProject)" ng-model="selUserProject" ng-options="userProject as userProject.projectname for userProject in userProjects" ng-show="userProfile.isadmin===false">
                                <option value="" ng-model="allTime"> All Time </option>
                            </select>
                            <!-- if admin logged in -->
                            <select ng-change="project(selectedProject)" ng-model="selectedProject" ng-options="project as project.projectname for project in allClientProjects" ng-show="userProfile.isadmin===true">
                               <option value="" ng-model="allProj"> All Projects </option>
                            </select>
                        </div>
                         <div ng-hide="selectEmp"><!-- This only shows if there is an administrator present. -->
                            <label>Person</label>
                            <select ng-change="user(selectedUser)" ng-model="selectedUser" ng-options="user as user.empname for user in usersOnProject">
                               <option value="" ng-model="allEmps"> Everyone </option>
                            </select>
                        </div>
                        <div class="submit">
                          <button  ng-click="runReport()"> Run Report </button>
                          <button ng-click="toggleAddTimeModal()">Add Time</button>
                        </div>
                    </form>
                </div>


                <div class="sheet">
                    <div class="row titles">
                        <div class="date">Date</div>
                        <div class="time">Time</div>
                        <div class="person" ng-hide="actionBtn" style="width:140px">Person</div>
                        <div class="description">Description</div>
                        <div class="actions" ng-hide="actionBtn">Actions</div> <!-- ng-show if the project is active -->
                    </div>
                    <!-- <div style="text-align:center;padding: 1em 0;opacity:0.5;" ng-hide="!reports">No Report Selected</div> -->
                    <div class="row" ng-repeat="rep in reports">
                        <div class="date" style="width:200px"> {{rep.date | date : 'MMM dd'}} </div>
                        <div class="hours" style="width:70px"> {{rep.hours}} </div>
                        <div class="person" ng-hide="actionBtn" style="width:140px;display:flex;align-items:center;">{{ rep.empname }}</div>
                        <div class="description">{{rep.description}}</div>
                        <div class="actions" ng-hide="actionBtn" ng-show="selectedProject.isactive"><!-- ng-show if the project is active -->
                            <button class="btn-delete">Edit</button>&nbsp;&nbsp;
                            <button class="btn-delete" ng-click=deleteTime(rep.timeid)>Delete</button>
                        </div>
                    </div>
                    <div class="row totals">
                        <div class="total"><b>Total:</b></div>
                        <div class="total-time">{{addAllHours}}</div>
                        <!-- Angular adds the total of the time entries and puts that total in the span tag. -->
                        <div class="actions">
                            <button ng-click="exportCSV()" style="font-size:0.9em;">Export to CSV</button>
                        </div>
                    </div>
                </div>
            </section>
        </div>

<div ng-show="showAddTimeModal" class="add-edit-form" style="position:fixed;top:50%;left:50%;width:20em;padding:2em;box-sizing: border-box; border:5px solid #45bcce; background-color:#FAFAFA; transform:translate(-50%) translateY(-50%);">
    <div style="text-align:right;">X</div><!-- WilL Cancel the Edit or Add -->
    <div>Add Time to {{ selectedProject.projectname }}</div>
    <form class="add-time edit-time" style="display: block;" ng-submit="addTime()">
        <div class="date" style="display: block;">
            <label>Date</label>
              <input class="date-input" ng-model="addTimeDate" type="text" placeholder="mm/dd/yy" style="width:100%;box-sizing:border-box" />
        </div>
        <div class="date" style="display: block;">
            <label>Person</label>
              <select style="width:100%;" ng-model="addTimePerson">
                <option selected disabled>--</option>
                <option ng-repeat="user in usersOnProject" value="{{user.empid}}">{{ user.empname }}</option>
              </select>
        </div>
        <div class="time" style="display: block;">
            <label>Time</label>
            <input class="time-input" type="text" ng-model="timeInputModel" style="width:100%;box-sizing:border-box;" />
        </div>
        <div class="description" style="display: block;">
            <label>Description</label>
            <input type="text" ng-model="descriptionInputModel" style="width:100%;box-sizing: border-box;" />
        </div>
        <div class="submit">
            <input type="submit" value="Add Time" /><!-- Submits the form -->
        </div>
    </form>
</div>