      <div class="report">
            <section>
                <h2 class="entity-title">Reports</h2>
                <!-- The Project's Name -->
                <div>
                    <!-- ng-show if the project is active. -->
                    <form class="report-form">
                        <div class="date">
                            <label>Start Date</label><!-- We need an angular date selector for this field. -->
                            <input ng-model="startDate"type="text" id="datepickerStart" value="mm/dd/yy"/>
                        </div>
                        <div class="date">
                            <label>End Date</label><!-- We need an angular date selector for this field. -->
                            <input ng-model="endDate"type="text" id="datepickerEnd"/>
                        </div>

                        <div class="description" ng-hide="clientSelect">
                            <label>Client</label>
                            <select ng-change="client(selectedClient)" ng-model="selectedClient" ng-options="client as client.clientname for client in allClients"></select>
                        </div>

                        <div class="description">
                            <label>Project</label>
                            <!-- if user logged in -->
                            <select ng-change="userProject(selUserProject)" ng-model="selUserProject" ng-options="userProject as userProject.projectname for userProject in userProjects" ng-show="userProfile.isadmin===false"></select>
                            <!-- if admin logged in -->
                            <select ng-change="project(selectedProject)" ng-model="selectedProject" ng-options="project as project.projectname for project in allClientProjects" ng-show="userProfile.isadmin===true" ></select>
                        </div>
                         <div ng-hide="selectEmp"><!-- This only shows if there is an administrator present. -->
                            <label>Person</label>
                            <select ng-change="user(selectedUser)" ng-model="selectedUser" ng-options="user as user.empname for user in usersOnProject"></select>
                        </div>
                        <div class="submit">
                          <button  ng-click="runReport()"> Run Report </button>
                            <!-- This button should save the time entry to the server. -->
                        </div>
                    </form>
                </div>


                <div class="sheet">
                    <div class="row titles">
                        <div class="date">Date</div>
                        <div class="time">Time</div>
                        <div class="description">Description</div>
                        <!--<div class="actions">Actions</div>--><!-- ng-show if the project is active -->
                    </div>
                    <div class="row" ng-repeat="rep in reports">
                        <div class="date"> {{rep.date | date}} </div>
                        <div class="hours"> {{rep.hours}} </div>
                        <div class="description"> {{rep.description}} </div>
                    </div>
                    <div class="row" >
                        <div class="date"></div>
                        <div class="hours"></div>
                        <div class="description"></div>
                    </div>
                    <div class="row" >
                        <div class="date"></div>
                        <div class="time"></div>
                        <div class="description"></div>
                    </div>
                    <div class="row totals">
                        <div class="total"><b>Total:</b></div>
                        <div class="total-time">{{addAllHours}}</div>
                        <!-- Angular adds the total of the time entries and puts that total in the span tag. -->
                        <div class="actions">
                            <button ng-click="exportCSV()">Export to CSV</button>
                        </div>
                    </div>
                </div>
            </section>
        </div>
