<!DOCTYPE html>
<html>

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>User Reports</title>
    <link rel="stylesheet" href="../../node_modules/normalize.css/normalize.css" />
    <link rel="stylesheet" href="../../public/files/style.min.css" />
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css" />
    <script src="https://unpkg.com/jquery@3.1.1"></script>
    <script>
    (function($) {

        $.fn.fadeOutToLeft = function(callback) {
            $(this).animate({
                opacity: 0,
                left: "-200px"
            }, 300, function() {
                $(this).hide();
                if (callback) {
                    callback();
                }
            });
            return this;
        };

        $.fn.fadeInFromRight = function(callback) {
            $(this).show().animate({
                opacity: 1,
                left: "0px"
            }, 200);
            return this;
        };

        $.fn.fadeOutToRight = function(callback) {
            $(this).animate({
                opacity: 0,
                left: "200px"
            }, 300, function() {
                $(this).hide();
                if (callback) {
                    callback();
                }
            });
            return this;
        };

        $.fn.fadeInFromLeft = function(callback) {
            $(this).show().animate({
                opacity: 1,
                left: "0px"
            }, 200, function() {
                if (callback) {
                    callback();
                }
            });

        };

    })(jQuery);


    var showSingleClient = function() {
        $('section.cards').fadeOutToLeft(function() {
            $('section.single-client').fadeInFromRight();
        });
    };

    var showClients = function(button) {
        $(button).parent().fadeOutToRight(function() {
            $('section.clients').fadeInFromLeft();
            $('section.single-client').css('left', '200px');
        });
    };
    var showSingleProject = function() {
        $('section.single-client').fadeOutToLeft(function() {
            $('section.single-project').fadeInFromRight();
        });
    };
    var backToSingleClient = function() {
        $('section.single-project').fadeOutToRight(function() {
            $('section.single-client').fadeInFromLeft();
        });
    };
    var showAddClient = function() {
        $('.modal').addClass('modal-show');
        $('.modal__add-client input[type="text"]').focus();
    };
    var addProjectToNewClient = function() {
        $('.modal__add-client').animate({
            top: "-200px",
            opacity: 0
        }, 300, function() {
            $(this).hide();
            $('.modal__add-project').show().css("opacity", 0).animate({
                opacity: 1
            }, 400);
            $('.modal__add-project input[type="text"]').focus();
        });
    };

    var addProjectToClient = function() {
        $('.modal__add-client').hide();
        $('.modal__add-project').show().css('opacity', 1);
        $('.modal').addClass('modal-show');
    };

    var modalReset = function() {
        if ($('.modal').hasClass('modal-show')) {
            $('.modal').removeClass('modal-show');
        }
        $('.modal__add-project').css('opacity', 0).hide();
        $('.modal__add-client').show().css('top', '0px').css('opacity', 1);
    };

    $(document).keyup(function(e) {
        // If a user hits `esc` and the modal is showing
        if (e.keyCode === 27 && $('.modal-show')) {
            // Get Rid of it and reset it.
            modalReset();
        }
    });


    $(document).ready(function() {
        // These two lines should be put into the CONTROLLER for this view.
        $('.single-client').hide();
        $('single-project').hide();
    });
    </script>
</head>

<body>
    <header class="header">
        <!-- This header is the same on every page. -->
        <h1 class="h1 header__title"><img src="http://www.do-goods.com/wptest/wp-content/uploads/2015/01/cw-logo.png" /></h1>
        <nav class="nav main__nav">
            <ul class="menu menu__main">
                <li>Projects</li>
                <li>Reports</li>
                <li>Clients</li>
                <!-- For Admin user only. -->
                <li>Contractors</li>
                <!-- For Admin user only. -->
                <li>Sign Out</li>
                <!-- <li>Sign In</li> For Logged Out Only -->
            </ul>
        </nav>
    </header>
    <main>
        <!-- This is the ng-view -->
        <div class="modal modal__add ">
            <div class="modal__close" style="position:fixed; top:0; right: 5%;color:#FFF;font-size: 4em;" onclick="modalReset();"><i class="fa fa-times"></i></div>
            <div class="modal__add-client">
                <label>Add Client</label>
                <input type="text" ng-model="" />
                <input type="submit" onclick="addProjectToNewClient()" value="+" />
            </div>
            <div class="modal__add-project">
                <label>Create New Project for {{ Client Name }}</label>
                <input type="text" />
                <input type="submit" value="+" />
            </div>
        </div>
        <section class="clients cards">
            <div class="card">
                <a onclick="showSingleClient()" class="card__link">Client Name</a>
            </div>
            <div class="card card-top">
                <a onclick="showAddClient()" class="card__new">Add Client</a>
            </div>
        </section>
        <section class="single-client" style="height:40vh;opacity:0;position:relative;left:200px;">
            <button onclick="showClients(this)">Clients</button>
            <!-- Must pass `this` as a parameter. -->
            <h2>Client Name</h2>
            <div class="cards">
                <div class="card">
                    <a onclick="showSingleProject()" class="card__link">Project Name</a>
                </div>
                <div class="card card-top">
                    <a onclick="addProjectToClient()" class="card__new">Add Project</a>
                </div>
            </div>
        </section>
        <section class="single-project" style="">
            <button class="back-button" onclick="backToSingleClient()"><i class="fa fa-caret-square-o-left "></i> Client Name</button>
            <h2 style="display:inline-block;">Project Name</h2>
            <!-- <button onclick="">Client Name</button> -->
            <div>
                <div>
                    <select>
                        <!-- List of ACTIVE employees -->
                        <option disabled selected>--</option>
                        <option>2</option>
                        <option>3</option>
                        <option>4</option>
                        <option>5</option>
                    </select>
                    <button>Add Contractor</button>
                </div>
                <!-- <div class="no-contractors">No Contractors Assigned</div> -->
                <!-- This shows if there are no contractors assigned to a project. -->
                <div class="sheet">
                    <div class="row titles">
                        <div class="photo"></div><!-- Blank -->
                        <div class="name">Name</div>
                        <div class="actions">Actions</div>
                    </div>
                    <div class="row">
                        <!-- ng-repeat goes here -->
                        <div class="photo"><img src="http://placehold.it/50" /></div> <!-- Employee's Photo Should Go Here. -->
                        <div class="name">Cody Ogden</div>
                        <div class="actions">
                            <button>Remove</button>
                        </div>
                    </div>
                    <div class="row">
                        <!-- Left Blank on Purpose -->
                    </div>
                </div>
            </div>
        </section>
    </main>
</body>

</html>
