.warning {
	box-sizing: border-box;
	$padding: 0.5em;
	background-color: $color-warning;
	border: 1px solid $color-warning-border;
	padding: 0.5em 0.75em;
	border-radius: 3px;
	display: flex;
	align-items: center;
	&:before {
		@extend %font-awesome;
		color: $color-warning-border;
		font-size: 1.25em;
		content: '\f06a';
		padding: 0 0.5em 0 0;
	}
}

.success {
	background-color: $color-success;
	border: 1px solid $color-success-border;
	padding: 0.5em 0.75em;
	border-radius: 3px;
	display: flex;
	align-items: center;
	&:before {
		@extend %font-awesome;
		color: $color-success-border;
		font-size: 1.25em;
		content: '\f058';
		padding: 0 0.5em 0 0;
	}
}

.alert {
	background-color: $color-alert;
	border: 1px solid $color-alert-border;
	padding: 0.5em 0.75em;
	border-radius: 3px;
	display: flex;
	align-items: center;
	&:before {
		@extend %font-awesome;
		color: $color-alert-border;
		font-size: 1.25em;
		content: '\f059';
		padding: 0 0.5em 0 0;
	}
}