.cards {
	display: flex;
	margin: 0 auto;
	max-width: 100%;
	padding: 1em 0;
	width: 60em;
	flex-flow: row wrap;
}

.card {
	box-sizing: border-box;
	flex: 0 0 33.3333%;
	margin: 0 0 1em 0;
	width: 33.3333%;
}

.card__link {
	background-color: lighten(#9ad8db, 20%);
	box-sizing: border-box;
	display: block;
	margin: 0 1em;
	padding: 1em;
	border: 2px solid lighten(#45BCCE, 25%);
	transition: box-shadow 200ms linear;
	cursor: pointer;
	&:hover {
		box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.3);
	}
	&,
	&:visited,
	&:hover,
	&:active {
		color: darken(#9ad8db, 35%);
		text-decoration: none;
	}
}

.card__new {
	@extend .card__link;
	background-color: transparent;
	border: 2px solid lighten(#45BCCE, 30%);
	display: flex;
	align-items: center;
	justify-content: center;
	&:before {
    	display: inline-block;
	    font: normal normal normal 14px/1 FontAwesome;
	    font-size: inherit;
	    text-rendering: auto;
	    -webkit-font-smoothing: antialiased;
	    -moz-osx-font-smoothing: grayscale;
		content: '\f055';
		margin-right: 0.25em;
	}
}

.card__link + div {
	padding: 1em;
	// background-color: pink;
}
@media screen and ( max-width: $sb-md ) {
	.card {
		flex: 0 0 100%;
		width: 100%;
	}
	.card-top  {
		order: -1;
	}
}

.return-link {
	margin: 0 0 0.5em 0;
	font-size: 1.25em;
	a,
	a:hover,
	a:visited,
	a:active {
		color: currentColor;
		text-decoration: none;
	}
}