.row.report-form {
	display: flex;
	font-size: 0.8em;
	background-color: #f7f7f7;
	justify-content: space-between;
	align-items: center;
}

@media screen and ( max-width: $sb-md ) {
	.row.report-form {
		display: block;
		background-color: #f7f7f7;
	}
}