.sheet {
	.row {
		display: flex;
		box-sizing: border-box;
		padding: 0.25em 0.5em;
		border-bottom: 1px solid $color-lightgrey;
		font-size: 0.8em;
		&:not(.entry-form):not(.report-form):not(.total):hover {
			background-color: $color-blue;
		}
		.date {
			flex: 0 0 15%;
			input {
				max-width: 10em;
			}
		}
		.person {
			flex: 0 0 15%;
		}
		.time {
			flex: 0 0 8%;
			input {
				max-width: 3em;
			}
		}
		.description {
			input {
				width: 35em;
			}
		}
		.actions {
			margin-left: auto;
		}
		.date,
		.person,
		.time,
		.actions {
			display: flex;
			align-items: center;
		}

	}
	.row.entry-form {
		background-color: #f7f7f7;
		padding: 0.5em inherit;
	}
	.row.total {
		border-top: 1px solid #333;
		padding: 0.5em 0.5em;
		.total-hours {
			flex: 0 0 15%;
			font-weight: bold;
			text-align: center;
			box-sizing: border-box;
		}
		&:hover {
			background-color: transparent;
		}
	}
	&-functions {
		padding: 0.5em 0.5em;
  		font-size: 0.8em;
  		text-align: right;
  		border-top: 1px solid #333;
	}
}

@media screen and ( max-width: $sb-lg ) {
  .sheet {
  	min-width: 0;
  	.row {
  		display: block;
  		position: relative;
  		margin: 0.5em 0;
  		&:not(.entry-form) .actions {
  			position: absolute;
  			right: 10px;
  			top: 5px;
  		}
  		&:not(.entry-form):hover {
  			background-color: transparent;
  		}
  		input[type="text"] {
  			max-width: 100%;
  			box-sizing: border-box;
  		}
  		.date:before {
  			content: 'Date:';
  			margin-right: 0.5em;
  			font-weight: bold;
  		}
  		.person:before {
  			content: 'Person:';
  			margin-right: 0.5em;
  			font-weight: bold;
  		}
  		.time:before {
  			content: 'Time:';
  			margin-right: 0.5em;
  			font-weight: bold;
  		}
  		.description:before {
  			content: 'Description:';
  			display: block;
  			font-weight: bold;
  		}
  	}
  }
}