/* -- Variables -- */

	// Screen Breaks
		$sb-sm: 500px;
		$sb-md: 650px;
		$sb-lg: 900px;
		$sb-xl: 1100px;

	// Colors
		$color-blue: lighten( #45BCCE, 42 );
		$color-lightgrey: #f7f7f7;

	// Status Alert Colors
		$color-warning: lighten(#ce5745, 38);
		$color-warning-border: #ce5745;

		$color-success: lighten( green, 72 );
		$color-success-border: green;

		$color-alert: lighten(#f1cc30, 42);
		$color-alert-border: darken(#f1cc30, 10 );

%fa {
	margin: 0 0.75em;
	display: inline-block;
	width: 20px;
	text-align: center;
	font: normal normal normal 14px/1 FontAwesome;
	font-size: inherit;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}


body {
	background-color: #FAFAFA;
	background-color: #c8c8c8;
	background-color: #e1e1e1;
	background-color: #3ca5b3;
	background-color: #9ad8db;
	background-color: #FFF;
}

/* -- Imports -- */

	// All classes and tags inside the header block
	@import 'header';

	//
	@import 'cards';

	//
	@import 'sheets';

	//
	@import 'reports';

	//
	@import 'users';

	//
	@import 'add-client';

	.cards,
	.single-project {
		position: relative;
	}

	.single-project {
		display: none;
		margin: 0 auto;
		max-width: 100%;
		width: 60em;
		left: 200px;
		opacity: 0;
		//padding: 1em;
		box-sizing: border-box;
	}

	section {
		max-width: 60em;
		margin: 0 auto;
	}

	.back-button {
		padding: 0.5em 0.5em;
	}

	.fa-toggle-on,
	.fa-toggle-off {
		cursor: pointer;
	}

	.fa-toggle-on {
		color: #45BCCE;
	}

	h2 > .fa-toggle-on,
	h2 > .fa-toggle-off {
		font-size: 1.25em;
	}

	.single-project,
	.single-client {
		.back-button {
			margin: 0 1em;
		}
		h2 {
			padding: 0 1em;
		}
		.editable:hover:after {
			@extend %fa;
			content: '\f040';
		}
		.editable-click {
			text-decoration: none;
			border: none;
			color: inerit;
			&:hover {
				cursor: pointer;
			}
		}
	}